<hr>
<div class="card card-header" *ngFor="let employee of employees">
  <div class="block">
    <h3 class="card bg-secondary text-white">{{employee.name}}</h3>
  </div>
  <div class="card-block">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <img [src]="employee.photoPath" height="200px" width="200px" />
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-6">
              Gender :
            </div>
            <div class="col-sm-6">
              {{employee.gender}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Date of Birth :
            </div>
            <div class="col-sm-6">
              {{employee.dateofBirth | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Conatact Via :
            </div>
            <div class="col-sm-6">
              {{employee.contactPrefrences}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Email :
            </div>
            <div class="col-sm-6">
              {{employee.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              Phone Number :
            </div>
            <div class="col-sm-6">
              {{employee.phoneNUmber}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>