<nav class="navbar navbar-expand-sm bg-light justify-content-center">

  <!-- Links -->
  <ul class="navbar-nav " routerLinkActive="active">
    <li class="nav-item">
      <a class="nav-link" routerLink="/listemployees"   >Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/create-employee"  >Sign-up</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/login"   >Sign-in</a>
    </li>
    
  </ul>
  <form class="form-inline" action="/action_page.php">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
